/**
 * Stylesheet for Global user contributions
 */

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: sans-serif, arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    background: #fafafa;
}

a {
    text-decoration: none;
    color: #0645ad;
}
a:active { text-decoration: none; }
a:hover { text-decoration: underline; }

.header {
    margin: 0 0 10px 0;
    padding: 10px 25px 0 25px;
    border-bottom: 1px solid #e7e7e7;
    background: #fff;
}
.header h2 {
    margin: 10px 0 15px 0;
    font-size: 25px;
    font-weight: 400;
}

.container {
    margin: 10px 25px 0 25px;
    /* No before/after padding because containers should contain
       only block elements (e.g. heading, paragraph) that already have
       margins, which don't collapse into padding. */
    padding: 0 10px;
    background: #fff;
    border: 1px solid #ccc;
}

.form-progress {
    display: inline-block;
}

.error {
    /* For errors inside containers */
    padding: 0 10px;
}
.error,
.container.error {
    background: #fae3e3;
    border: 1px solid #fac5c5;
    color: #cc0000;
}

.box {
    margin: 1em 0;
    background-color: #fafafa;
    border-spacing: 0;
    border-collapse: collapse;
}
.box tr {
    border-bottom: 1px solid #ccc;
}
.box tr:first-child {
    border-top: 1px solid #ccc;
}
.box td {
    padding: .2em .5em;
}
.box tr:nth-child(even) {
    background-color: #fff;
}

.results a:visited { color: #5105ad; }
.results .hostname:before {
    display: inline-block;
    content: 'ℹ️\00a0';
    user-select: none;
}
.results h1,
.results h2 {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid grey;
    margin-bottom: 0;
}
.results h2 {
    font-size: 15px;
}

.wiki--noSul {
    outline: 10px solid #e3fafd;
    background-color: #e3fafd;
}
.wiki--error {
    outline: 10px solid #fae3e3;
    background: #fae3e3;
    color: #cc0000;
}
.wiki-info {
    color: #777;
    font-size: 84%;
    margin-top: 0;
}

.results .minor,
.results .rev_cur {
    font-weight: bold;
}
.results .comment {
    font-style: italic;;
}
.results .autocomment {
    color: #777;
}

.guc-debug {
    position: relative;
    border: 1px solid #ccc;
    /* Increase margin from .container for "debug" caption */
    margin-top: 20px;
    padding: 15px 10px 10px 10px;
    background: #fafafa;
}
.guc-debug:before {
    display: inline-block;
    content: 'debug';
    position: absolute;
    top: -10px;
    left: 5px;
    border: 1px solid #ccc;
    padding: 0 5px;
    background: #fff;
}

.footer {
    margin: 25px;
    text-align: center;
    color: #777;
}

.results,
.guc-debug,
.footer {
    direction: ltr;
}
